.cards{
    background-color: #fff5ee;
    display: flex;
    flex-wrap: wrap;    
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: center;
    padding: 10px 10px;
    padding-bottom: 100px;
}
.fondo {
    background-color: #fff5ee;
    height: 100%;    
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    width: 100%;    
}

.selectBox{
    height: 40px;
    border-radius: 5%;
    font-size: 12px; 
    font-weight: 500;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 0px 0px;
    text-align: center;
    min-width: 60px;
    }
   
.paginado {
    background: #171c24;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;    
    justify-content: space-between;    
    height: 50px;
    padding: 10px 20px 0px 20px;
}    


.h2error {
    margin-top: 30px;
}