.containerFooter {
    width: 100%;
    height: auto;
    float: left;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    left: 0;
    bottom: 0;
    background-color: transparent;
    list-style: none;
    position: absolute;
}
.pagButton{
    position: flex;    
    bottom: 0;    
    margin: 0px 15px -5px 0;
}
