@font-face {
    font-family: pokemon;
    src: url('../fonts/Pokemon\ Classic.ttf');
}


.container {
    background-image: url('../img/pokemonGrass.jpg');
    width: 100%;
    height:100%;
    position: absolute;
    background-size: cover;
    font-family: pokemon;
    color:black;
    border-color: brown;
    border-width: 10px;
}

.signup-content {
    display: flex; 
    height: 90%;
    width: 90%;}

.signup-img {
    width: 20%;
    margin-top: 250px;
    margin-right: 30px;
}
.signup-form {
    width: 80%; }

.signup-img {
    margin-bottom: -7px; }
    
.register-form {
margin-top: 50px;
padding: 10px 30px 10px 30px; }


.form-row {
    display: flex;
    align-content: initial;
    margin: 0 -15px; 
    text-align: left;
    margin-left: 20px;
    font-size: 50px;}
.form-row label {
    font-size: 25px;
}
.form-row input {
    height: 30px;    
    background: none;
    float: right;
    vertical-align: baseline;
    clear: both;
    display: auto;    
    border: 3px solid black;    
    box-sizing: inherit;
    font-family: 'Montserrat';
    font-weight: 800;
    font-size: 18px; }
.form-row input:focus, select:focus {
    border: 3px solid #ff6801; }
    
   
.form-row .form-group {
      width: 50%;
      padding: 0 15px;}
  
.form-group {
    width: 100%;   
    margin-bottom: 23px;
    justify-content: left;
    position: relative; 
    font-size: 20px;}

.form-errors {   
    width: 100%;
    margin-bottom: -20px;
    vertical-align: bottom;
    position: relative;
    font-size: 17px; 
    color: red;}

.form-row-cb {
        display: flex;        
        flex-wrap: no-wrap;   
        text-align: left;
        margin-left: 20px;
        font-size: 50px;
        float: right;
        clear: both;}

.form-group-cb {
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    float: right;
    width: 52%;   
    margin-bottom: 23px;
    justify-content: left;
    position: relative; 
    font-size: 21px;
    font-weight: 600;
    float: right;
    clear: both;}
.form-errors-cb {   
    width: 48%;
    margin-bottom: -20px;
    vertical-align: bottom;
    position: relative;
    font-size: 17px; 
    color: red;}   

.div-cb{
    border: 3px solid black;
    margin: 5px 5px 5px 5px;
    background: rgb(195, 193, 193, 0.5);  
    
}

.inpCheckbox {
    width: 20px;    
}

.form-row-submit {
    height: 200px;    
    float: right;
    justify-content: right;

}


.h1Title {
    line-height: 1.66;
    display: flex;
    justify-content: right;
    margin-right: 160px;
    padding: 0;
    font-weight: 700;
    color: #222;    
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 32px; }


.buttonSubmit {
    display: flex;
    justify-content: right;
    color: #202223;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 0px 0px;
    font-weight: 500;
    margin-right: 200px;
}




.navBar {
    background: #171c24;
    display: flex; 
      position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
    flex-wrap: wrap;  
    justify-content: space-between;    
    height: 50px;
    padding: 10px 20px 0px 20px;
    overflow: visible;
}
 
.buttonNav{  
    display: inline-block;
    outline: 0;
    cursor: pointer;
    text-align: center;
    border: 1px solid #babfc3;
    padding: 8px 18px;
    height: 40px;
    min-width: 100px;
    color: #202223;
    background: #ffffff;
    border-radius: 4px;
    font-weight: 500;
    font-size: 12px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 0px 0px;
}

.footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
    background: #171c24;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;    
    justify-content: space-between;    
    height: 50px;
    padding: 10px 20px 0px 20px;
} 







